/* Reset */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
  background:#f5f7fb;
  color:#222;
}

img{
  max-width:100%;
  display:block;
}

button{
  cursor:pointer;
}

.container{
  width:95%;
  max-width:1400px;
  margin:auto;
}